.footer {
  margin-right: auto;
  margin-left: auto;
  width: 80rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

.left {
  margin-right: 5rem;

  .left-content {
    margin-bottom: 5rem;
  }
}
