@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("/camellia/fonts/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("/camellia/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Neue Haas Grotesk Display", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  font-size: 3rem;
}

$side-margins: 15%;

h3 {
  font-weight: normal;
}

p {
  font-size: 1.5rem;
}

section {
  width: 40%;
  margin-top: 12%;
  margin-left: $side-margins;
  margin-right: $side-margins;
}

.hero {
  .hero-content {
    animation: fade-slide-right 0.6s ease-in-out;
  }
}

.section1 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  .section1-content {
    align-items: center;
    display: flex;
    justify-content: space-between;

    text-align: left;
    p {
      font-size: 2rem;
      opacity: 0;
      animation: fade-slide-left 0.6s ease-in-out 0.2s forwards;
    }

    h2 {
      transform: translateX(-40%);
      margin-bottom: 3rem;
      opacity: 0;
      animation: fade-slide-left-further 1.2s ease-in-out 0.1s forwards;
    }

    .who-image {
      opacity: 0;
      animation: fade-slide-right 0.6s ease-in-out 0.3s forwards;
      margin-right: 4rem;
      max-width: 60%;
      height: auto;
    }
  }
}

.section2 {
  .section2-content {
    animation: fade-slide-left 0.6s ease-in-out 0.4s forwards;
  }
}

.section3 {
  animation: fade-slide-right 0.6s ease-in-out 0.5s forwards;
  margin-right: auto;
  margin-left: auto;
  width: 70vw;
}

@keyframes fade-slide-right {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-left {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-left-further {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(-23%);
  }
}

@media (max-width: 768px) {
  body {
    font-size: 2rem;
  }

  p {
    font-size: 1.8rem;
  }

  section {
    margin: 4rem auto;
  }

  .hero {
    display: flex;
    width: 80%;
    align-items: center;

    .hero-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      animation: fade-slide-right 0.6s ease-in-out;
    }
  }
  .section1 {
    width: 100%;

    .section1-content {
      flex-direction: column;
      text-align: center;

      .who-image {
        margin: 2rem 0;
        width: 100%;
        height: auto;
        animation: fade-slide-left 0.7s ease-in-out;
        opacity: 1;
      }

      h2,
      p {
        text-align: center;
        animation: fade-slide-right 0.7s ease-in-out forwards;
        opacity: 1;
      }
    }
  }
  .section2 {
    width: 80%;

    .section2-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      animation: fade-slide-right 0.6s ease-in-out;
    }
  }
}
